#container {
  width: 960px;
  margin: 34px auto;
  padding-top: 5px; /* Temporary hack. */
}

#pagenav {
  width: 180px;
  margin-top: 90px;
  text-align: right;
  float: left;
}

#content {
  margin-left: 210px;
}


body {
  font-family: "Minion Pro", Times, serif;
  font-size: 20px;
  line-height: 30px;
  color: #333;
}

p {
  margin-bottom: 30px;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #444;
}

h3 {
  font-size: 30px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #353535;
}

h4 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #313131;
}

a:link, a:hover, a:visited {
  color: #880000;
  text-decoration: none;
}

#content a {
  border-bottom: 1px dotted #880000;
  height: 23px;
  display: inline-block;
}

#content a:hover {
  border-bottom-style: solid;
}

#content ul, ol {
  margin: 30px;

  /* To avoid extensive margins when the list spans multiple columns. */
  margin-right: 0;
}

#content a img {
  border: 0 none;
}

#pagenav li a {
  color: #767676;
}

#pagenav li a:hover {
  color: #000;
}

span#current_release {
  float: right;
}

span#current_release a {
  color: #aa0000;
  border: 0 none;
}

#footer {
  margin-top: 60px;
  border-top: 1px solid #E5E5E5;
  text-align: center;
  padding: 15px;
  font-size: 11px;
  color: #444;
}

#footer p {
  margin: 0;
}


ul.bullet {
  list-style: disc outside;
}

.columns2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.columns6 {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
}

#content a.tar {
  background: url("tar.png") no-repeat top left;
}

#content a.zip {
  background: url("tar.png") no-repeat top left;
}

#content a.icon {
  line-height: 60px;
  height: 60px;
  border: none;
  padding-left: 70px;
}

#content a.icon:hover {
  text-decoration: underline;
}
